.wrapper {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  padding-top: 80px;
}

.paginationBlock {
  display: flex;
  justify-content: center;
  padding: 35px 0 45px;
}

.link {
  text-decoration: none;
  color: #000;
  padding-left: 8px;
}
